:root {
    --btn-col: #1565c0;
    --btn-hov: #5c6eea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #f9f9f9;
    font-family: "Jost", sans-serif;
    /* background-image: url('img/logo.png'); */
}

/* ---------- */

.header {
    /* background-color: white;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 10px #dfdfdf; */
    font-family: "Jost", sans-serif;
    /* margin-bottom: 10px; */
}

.header__nav {
    margin: 0 auto;
    padding: 18px 0;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrap {
    cursor: pointer;
    font-size: 22px;
}

#logo-img {
    user-select: none;
    max-width: 90px;
    max-height: 50px;
}

/* #logo-img:active {
    margin-bottom: 2px;
    transition: 0.2s;
} */

.header__options {
    user-select: none;
    display: flex;
    font-size: 17px;
}

.header__options-item {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
}

.header__options-item:hover {
    background-color: #eeeeee;
    transition: 0.2s;
}

.header__options-item:active {
    color: red;
}

.header__phone {
    color: #003e00;
}

.header__btn {
    user-select: none;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: var(--btn-col);
    color: white;
    font-size: 18px;
}

.header__btn:hover {
    background-color: var(--btn-hov);
    transition: 0.2s;
}

/* ----------- */

.main {
    width: 1170px;
    margin: 0 auto;
}

.main__space {
    /* border: 1px solid #dfdfdf; */
    box-shadow: 0 0 10px #dfdfdf;
    width: 100%;
    padding: 30px 25px;
    background: white url('img/p-main__banner-hosting.webp') no-repeat right;
    background-size: contain;
    border-radius: 12px;
    font-size: 24px;
    margin-bottom: 10px;
}

.main__title {
    font-size: 26px;
    margin-bottom: 20px;
}

.main__text {
    width: 700px;
    font-size: 20px;
    color: grey;
}

.main__btn {
    cursor: pointer;
    margin-top: 30px;
    display: inline-block;
    background-color: var(--btn-col);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.main__btn:hover {
    background-color: var(--btn-hov);
    transition: 0.2s;
}

.main__cards-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin: 22px 0;
    color: gray;
}

.main__card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
}

.main__card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    background-color: white;
    /* border: 1px solid #dfdfdf; */
    border-radius: 14px;
    box-shadow: 0 0 10px #dfdfdf;
    width: 383px;
    padding: 30px 25px;
    margin-bottom: 10px;
}

.main__card-item-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__card-item-img img {
    max-width: 300px;
    max-height: 200px;
}

.main__card-item:not(:nth-child(3n)) {
    margin-right: 10px;
}

.main__card-item-head {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.main__card-item-body {
    width: 300px;
    font-size: 20px;
    color: grey;
}

/* ---------- */

.footer {
    border-top: 1px solid #dfdfdf;
    box-shadow: 0 15px 40px -10px #eaeaea inset;
    color: gray;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1170px;
    padding: 45px 0;
}

.footer__contacts {
    display: flex;
    align-items: center;
} 

.footer__col {
    margin-right: 22px;
}

.footer__contact {
    background-color: #f0f2f4;
    padding: 15px;
    border-radius: 10px;
    color: gray;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.footer__contact img {
    margin-right: 12px;
    width: 22px;
    height: 22px;
}

.footer__logo img {
    max-width: 100px;
    max-height: 100px;
}