:root {
    --btn-col: #535be0;
    --btn-hov: #8f9ceb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #f9f9f9;
    font-family: "Jost", sans-serif;
    /* background-image: url('img/logo.png'); */
}

/* ---------- */

.header {
    background-color: white;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 10px #dfdfdf;
    font-family: "Jost", sans-serif;
    margin-bottom: 10px;
}

.header__nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrap {
    cursor: pointer;
    font-size: 22px;
}

#logo-img {
    user-select: none;
    width: 78px;
    height: 25px;
}

/* #logo-img:active {
    transform: scale(1.01);
    transition: 0.2s;
} */

.header__options {
    display: flex;
    font-size: 17px;
}

.header__options-item {
    cursor: pointer;
    margin-left: 22px;
}

.header__options-item:hover {
    color: red;
    transition: 0.2s;
}

.header__phone {
    color: #003e00;
}

.header__btn {
    user-select: none;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 50px;
    background-color: var(--btn-col);
    color: white;
    font-size: 18px;
}

.header__btn:hover {
    background-color: var(--btn-hov);
    transition: 0.2s;
}

/* ----------- */

.main {
    width: 1170px;
    margin: 0 auto;
}

.main__space {
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 10px #dfdfdf;
    width: 100%;
    padding: 30px 25px;
    background: white url('img/p-main__banner-hosting.webp') no-repeat right;
    background-size: contain;
    border-radius: 12px;
    font-size: 24px;
    margin-bottom: 10px;
}

.main__info {
    width: 800px;
}

.main__title {
    font-size: 26px;
    margin-bottom: 20px;
}

.main__text {
    font-size: 20px;
    color: grey;
}

.main__btn {
    cursor: pointer;
    margin-top: 25px;
    display: inline-block;
    background-color: var(--btn-col);
    color: white;
    padding: 8px 16px;
    border-radius: 50px;
}

.main__card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
}

.main__card-item {
    cursor: default;
    /* background-color: white;
    border: 1px solid #dfdfdf; */
    border-radius: 4px;
    /* box-shadow: 0 0 10px #dfdfdf; */
    width: 383px;
    padding: 30px 25px;
    margin-bottom: 10px;
}

.main__card-item-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__card-item-img img {
    max-width: 300px;
    max-height: 200px;
}

.main__card-item:not(:nth-child(3n)) {
    margin-right: 10px;
}

.main__card-item:hover {
    background-color: white;
    box-shadow: 0 0 15px #d1d1d1;
    transition: 0.5s;
}

.main__card-item-head {
    /* text-align: center; */
    font-size: 26px;
    margin-bottom: 20px;
}

.main__card-item-body {
    width: 300px;
    font-size: 20px;
    color: grey;
}

/* ---------- */

.footer {
    border-top: 1px solid #a5a5a5;
    background-color: #313131;
    color: gray;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
    padding: 45px 0;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
} 

.footer__contact {
    color: gray;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.footer__contact:not(:last-child) {
    margin-bottom: 22px;
}

.footer__contact img {
    margin-right: 22px;
    width: 22px;
    height: 22px;
}